<footer class="footer">
	<div class="inner-wrap">
		<div class="main-outer-wrap">
			<div class="h5-title">Manage money easily</div>
			<div class="actions-outer-wrap">
				<div class="action-wrap">
					<div class="action-title">Click here</div>
					<div class="action-button">
						<a href="https://play.google.com/store/apps/details?id=com.credits.Wallet&amp;hl=ru&amp;gl=US" target="_blank" rel="nofollow" class="btn-action-app">
							<img src="./index_files/app-google.png" alt="">
						</a>
					</div>
					<div class="action-button">
						<a href="https://apps.apple.com/ch/app/credits/id1502902555" target="_blank" rel="nofollow" class="btn-action-app">
							<img src="./index_files/app-apple.png" alt="">
						</a>
					</div>
				</div>
				<div class="action-wrap">
					<div class="action-title">Scan to download </div>
					<div class="action-button">
						<a class="btn-action-qr">
							<img src="./index_files/qr.png" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
		
		<div class="second-outer-wrap">
			<div class="menu-outer-wrap">
				<div class="menu-inner-wrap">
					<div class="menu-wrap">
						<div class="menu-title">Company</div>
						<ul class="menu">
							<li><a href="https://credits.com/en/about/">About</a></li>
							<li><a href="https://credits.com/en/legal.html">Legal</a></li>
							<li><a href="https://credits.com/en/news/">News</a></li>
							<li><a href="https://credits.com/en/contacts/">Contacts</a></li>
							<li><a href="https://blockchain.credits.com/" target="_blank">Blockchain</a></li>
							<li><a href="https://developers.credits.com/en" target="_blank">For Developers</a></li>
						</ul>
					</div>
					<div class="menu-wrap">
						<div class="menu-title">&nbsp;</div>
						<ul class="menu">
							<li><a href="https://credits.com/en/fees/">Fees</a></li>
							<li><a href="https://credits.com/en/ambassadors/">Ambassador</a></li>
							<li><a href="https://credits.com/en/affiliate/">Affiliate</a></li>
						</ul>
					</div>
				</div>
				<div class="soc-wrap">
					<div class="menu-title">Stay in touch</div>
					<ul class="menu-soc">
						<li>
							<a href="https://twitter.com/creditscom/" target="_blank" rel="nofollow" class="btn-action-ico button-soc">
								<img src="./index_files/soc-tw.svg" alt="">
							</a>
						</li>
						<li>
							<a href="https://t.me/creditscom/" target="_blank" rel="nofollow" class="btn-action-ico button-soc">
								<img src="./index_files/soc-tg.svg" alt="">
							</a>
						</li>
						<li>
							<a href="https://www.youtube.com/channel/UC7kjX_jgauCqmf_a4fqLGOQ/" target="_blank" rel="nofollow" class="btn-action-ico button-soc">
								<img src="./index_files/soc-yt.svg" alt="">
							</a>
						</li>
						<li>
							<a href="https://www.reddit.com/r/CreditsOfficial/" target="_blank" rel="nofollow" class="btn-action-ico button-soc">
								<img src="./index_files/soc-rd.svg" alt="">
							</a>
						</li>
						<li>
							<a href="https://www.instagram.com/credits_com/" target="_blank" rel="nofollow" class="btn-action-ico button-soc">
								<img src="./index_files/soc-inst.svg" alt="">
							</a>
						</li>
						<li>
							<a href="https://www.linkedin.com/company/creditscom/" target="_blank" rel="nofollow" class="btn-action-ico button-soc">
								<img src="./index_files/soc-in.svg" alt="">
							</a>
						</li>
						<li>
							<a href="https://www.facebook.com/creditscom/" target="_blank" rel="nofollow" class="btn-action-ico button-soc">
								<img src="./index_files/soc-fb.svg" alt="">
							</a>
						</li>
						<li>
							<a href="https://bitcointalk.org/index.php?topic=3375263/" target="_blank" rel="nofollow" class="btn-action-ico button-soc">
								<img src="./index_files/soc-bk.svg" alt="">
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="desc-outer-wrap">
				<div class="desc-wrap">
					<p>All services relating to crypto-assets are provided by UAB New Software Solutions, a company with legal status as a virtual currency exchange operator,  depository of virtual currency and a wallet operator. UAB New Software Solutions is a legal entity in Lithuania legal whose registration number is 306045667 and address is Žalgirio g. 90, 6th floor, Vilnius, Lithuania.<br>
						IBAN service provided by Monetley Ltd operating under the laws of England and Wales, registered in the FCA as Electronic Money Institution (EMI) (FCA Reference number: 900921).
					</p>
				</div>
			</div>
		</div>
		<div class="copy-outer-wrap">Copyright © 2017-2023. All rights reserved. </div>
	</div>
</footer>

<div class="popup-outer-box popup-form-join" id="popup-form-join">
	<div class="popup-box">
		<a href="" class="btn-action-ico ico-close js-popup-close"></a>
		<div class="popup-title-wrap">
			<div class="popup-title">Join the Waiting List to Secure 50% Discount!</div>
			<p>Early applicants get priority</p>
		</div>
		<div class="popup-content-wrap">
			<form action="/">
				<div class="frm-row">
					<div class="frm-field">
						<input type="text" class="form-input inp-large" placeholder="Full name">
					</div>
					<div class="frm-field">
						<input type="email" class="form-input inp-large" placeholder="E-mail">
					</div>
					<div class="frm-field">
						<input type="text" class="form-input inp-large" placeholder="Allocation amount">
					</div>
				</div>
				<div class="frm-row-submit">
					<div class="frm-field">
						<button type="submit" class="btn button-large">Join waitlisting list</button>
					</div>
					<div class="frm-field field-info">By sign up you are agree our <a href="">Terms of use</a> and <a href="">Privacy policy</a></div>
				</div>
			</form>
		</div>
	</div>
</div><!--/popup-outer-box-->

<div class="popup-outer-box popup-form-join join-info" id="popup-form-join-info">
	<div class="popup-box">
		<a href="" class="btn-action-ico ico-close js-popup-close"></a>
		<div class="popup-content-wrap">
			<div class="popup-inner-box">
				<div class="form-inner-wrap">
					<div class="popup-title-wrap">
						<div class="popup-title">Secure Your Allocation!</div>
						<p>Invest in our best and most technological project on the market.</p>
					</div>
					<form action="/">
						<div class="frm-row">
							<div class="frm-field">
								<input type="text" class="form-input inp-large" placeholder="Full name">
							</div>
							<div class="frm-field">
								<input type="email" class="form-input inp-large" placeholder="E-mail">
							</div>
							<div class="frm-field">
								<input type="text" class="form-input inp-large" placeholder="Allocation amount">
							</div>
						</div>
						<div class="frm-row-submit">
							<div class="frm-field">
								<button type="submit" class="btn button-large">Join waitlisting list</button>
							</div>
							<div class="frm-field field-info">By sign up you are agree our <a href="">Terms of use</a> and <a href="">Privacy policy</a></div>
						</div>
					</form>
				</div>
				<div class="photo-inner-wrap">
					<div class="photo-title">All-in-one Banking, <br>Crypto Super App.</div>
					<div class="elm-photo">
						<img src="./img/popup.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!--/popup-outer-box-->
