<header class="header ">
	<div class="inner-wrap">
		<div class="logo-wrap">
			<a href="https://credits.com/en/" class="logo">
				
				<img src="./index_files/logo.svg" alt="">
			
			
			
			</a>
		</div>
		
		<div class="actions-wrap">
			
			<div class="action-wrap action-login">
				<a href="https://web.credits.com/" target="_blank" class="link-color">Log in</a>
			</div>
			<div class="action-wrap">
				<a href="https://web.credits.com/" target="_blank" class="btn button-small">Sign up</a>
			</div>
			
			
			
			<div class="popup-lang-wrap action-wrap js-popup-wrap">
				<a href="https://credits.com/" class="btn-popup js-btn-toggle">En</a>
				<div class="popup-content-block js-popup-block">
					<ul class="menu">
						<li>
							<a href="https://credits.com/en/" class="btn-lang active">
                                        <span class="button-ico">
                                            <img src="./index_files/gb.svg" alt="">
                                        </span>
								<span class="button-title">English</span>
							</a>
						</li>
						<li>
							<a href="https://credits.com/ua/" class="btn-lang">
                                        <span class="button-ico">
                                            <img src="./index_files/ua.svg" alt="">
                                        </span>
								<span class="button-title">Українська</span>
							</a>
						</li>
						<li>
							<a href="https://credits.com/tr/" class="btn-lang">
                                        <span class="button-ico">
                                            <img src="./index_files/tr.svg" alt="">
                                        </span>
								<span class="button-title">Türkçe</span>
							</a>
						</li>
						<li>
							<a href="https://credits.com/sp/" class="btn-lang">
                                        <span class="button-ico">
                                            <img src="./index_files/es.svg" alt="">
                                        </span>
								<span class="button-title">Español</span>
							</a>
						</li>
						<li>
							<a href="https://credits.com/de/" class="btn-lang">
                                        <span class="button-ico">
                                            <img src="./index_files/de.svg" alt="">
                                        </span>
								<span class="button-title">Deutsch</span>
							</a>
						</li>
						<li>
							<a href="https://credits.com/ru/" class="btn-lang">
                                        <span class="button-ico">
                                            <img src="./index_files/ru.svg" alt="">
                                        </span>
								<span class="button-title">Русский</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="popup-menu-wrap js-popup-wrap">
			<a href="https://credits.com/" class="btn-popup btn-action-ico ico-menu js-btn-toggle"></a>
			<div class="popup-content-block js-popup-block">
				<ul class="menu">
					<li>
						<a href="https://credits.com/en/ibanaccounts/" class="btn-menu">IBAN</a>
					</li>
					<li>
						<a href="https://credits.com/en/payments/" class="btn-menu">Payments</a>
					</li>
					<li>
						<a href="https://credits.com/en/debit-card/" class="btn-menu">Cards</a>
					</li>
					<li>
						<a href="https://credits.com/en/cryptocurrency/" class="btn-menu">Cryptocurrency</a>
					</li>
					
					<li>
						<a href="https://credits.com/en/help/" class="btn-menu">Support</a>
					</li>
					<li>
						<a href="https://credits.com/en/help/" class="btn button-small button-accent">Rewards List</a>
					</li>
				
				
				</ul>
			</div>
		</div>
	
	</div>
</header>