<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Credits.com</title>
	<meta name="charset" content="utf-8">
	<meta name="title" content="Credits.com">
	<meta name="description" content="Send and Spend money easily with Credits.">
	<meta name="keywords" content="Credits.com">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta property="og:image" content="/templates/en/img/logo-icon.png">
	<link rel="shortcut icon" href="https://credits.com/templates/en/img/logo_blue.png" type="image/x-icon">
	<link rel="preconnect" href="https://fonts.googleapis.com/">
	<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
	<link href="./index_files/css2" rel="stylesheet">
	<link rel="stylesheet" href="./index_files/reset.css">
	<link rel="stylesheet" href="./index_files/swipebox.min.css">
	<link rel="stylesheet" href="./index_files/slick.css">
	<link rel="stylesheet" href="./index_files/style.min.css">
	<link rel="stylesheet" href="./index_files/fix.css">
	<link rel="stylesheet" href="./css/style.css">
	<style>
        .tile-many-lines {
            -webkit-box-orient: vertical;
        }
	</style>
</head>